.main-container {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .footer {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
    padding: 0;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    list-style-type: none;
    display: flex;
}

li {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding: 8px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
}

.column {
    display: flex;
   flex-direction: row;
    justify-content: space-around;
    flex: 1;
}  

.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding-right: 50px;
}

.btn {
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
    border-color: #3882f6;
    padding: 5px 20px;
}

.right {
    background-color: #6d747d;
    color: #e5e7eb;
    /* padding-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
}

p {
    color: #e5e7eb;
}

.random-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #1f2937;
}

.random-info-2, .random-info-3 {
    display: flex;
    justify-content: space-around;
}

.random-info-2 {
    padding-bottom: 0;
}

.random-info-3 {
    padding-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.squares {
    width: 50px;
    height: 50px;
    border: 5px solid #3882f6;
    border-radius: 25px;
    padding: 50px;
    margin: 20px;
}

.subtext {
    width: 100px;
    height: 100px;
    padding: 0 50px;
    margin: 0px;
    color: #6d747d;
    text-align: center;
}

.inspiring-quote {
    background-color: #e5e7eb;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    padding-top: 75px;
    padding-left: 150px;
    padding-right: 150px;
}

.thor {
    color: #1f2937;
    font-size: 18px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 75px;
    padding-left: 875px;
}

.callnow {
    padding-top: 10px;
    padding: 10px;
}

.blue-callnow {
    background-color: #3882f6;
    margin: 150px;
    padding: 25px 75px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h3 {
    color: #e5e7eb;
    padding-bottom: 0;
    margin-bottom: 0;
}

.last-sign-up {
    color: #e5e7eb;
    padding-top: 0;
    margin-top: 0;
}

.sign-up-now {
    border: 2px solid #f9faf8;
}





.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}